!!!

%html
  %head
    %title Todo
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag

#user_nav
  - if current_user
    Logged in as #{current_user.email}
    = link_to "Log out", logout_path
  - else
    = link_to "Sign up", sign_up_path
    or
    = link_to "Log in", login_path

  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash#{name}"

  = yield
